body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("keyboard.png");
}

.container {
    background-color: #0002A1;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 8px 8px #f8f7f7f3;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #bfcfe7;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #bfcfe7;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #faf9f9;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #bfcfe7;
    color: rgb(8, 8, 8);
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #068FFF;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
